version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: postgres
    restart: always
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    restart: always
    ports:
      - "${LOCALSTACK_EDGE_PORT}:${LOCALSTACK_EDGE_PORT}"
    environment:
      - SERVICES=${LOCALSTACK_SERVICES}
      - EDGE_PORT=${LOCALSTACK_EDGE_PORT}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - DEFAULT_REGION=${AWS_REGION_NAME}
    volumes:
      - "./.env:/app/.env"  # Mounting the .env file
      - "./.localstack:/var/lib/localstack"
      - "./localstack-init.sh:/etc/localstack/init/ready.d/init-aws.sh"
      - "/var/run/docker.sock:/var/run/docker.sock"

volumes:
  pgdata:
